<footer class="footer__outer">
        <div class="footer__inner">
            <div class="footer__div">
                <div class="footer__col">
                    <h1 class="footer__title">Henlein</h1>
                    <ul>
                        <li><a href="#">Identity</a></li>
                        <li><a href="#">Watches</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">partnership</a></li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h1 class="footer__txt">get help</h1>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer__col">
                    <h1 class="footer__txt">follow us</h1>
                    <div class="footer__links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>