<nav>
  <h1 class="logo">Henlein</h1>
  <label class="nav__ham", onclick="ham_click()">
    <span class="bar first"></span>
    <span class="bar second"></span>
  </label>
  <ul class="item__cont">
    <li class="item"><a href="#main"class="item__link">Main</a></li>
    <li class="item"><a href="#watches"class="item__link">Watches</a></li>
    <li class="item"><a href="#identity"class="item__link">Identity</a></li>
    <li class="item"><a href="#boutiques" class="item__link">Boutiques</a></li>
  </ul>
</nav>