/* Imports */
@font-face {
    font-family: 'Circular';
    src: url(../fonts/Circular_Book.otf);
}
@font-face {
    font-family: 'Rolex';
    src: url(../fonts/Rolex.otf);
}
/* Vars */
:root{
    --beige: #f1eee9;
    --grey: rgb(33, 33, 33);
    --blue:  #002147;
    --dark-beige: #ddd6c6;
}

/* General */

body{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
    padding:0;
}
h1{
    font-family: 'Rolex';
    letter-spacing: 5px;
}
a, p, li, button{
    font-family: 'Circular';
}
p{
    font-size:20px;
}
button{
    border:none;
    width:200px;
    height:50px;
    font-size:large;
    cursor:pointer;
}

.disable-scroll{
    overflow-y: hidden;
}

/* Body */
.body__container{
    transition:0.6s;
}
/* Navbar */

nav{
    width:100%;
    display: flex;
    height:71px;
    position: fixed;
    z-index:2;
    justify-content: space-between;
    transition:0.4s;
    background-color: transparent;
}

.logo{
    color: white;
    padding:20px;
    margin:0;
    text-align: center;
    z-index: -1;
}

.nav__ham{
    display:grid !important;
    height:min-content;
    cursor: pointer;
    justify-items: end;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}
.bar{
    height:2px;
    margin-bottom:10px;
    background: white;
    border-radius: 10%;
    transition: 0.4s;
}
.first{
    width:40px;
}
.second{
    width:30px;
}

.item__cont{
    position: absolute;
    width: 50%;
    transform: translateX(-101%);
    z-index: -1;
    transition: 0.6s;
    height: 100vh;
    background-color: white;
    margin: 0;
}
.item{
    color: var(--grey);
    padding: 40px;
    font-size: x-large;
    overflow: hidden;
}
.item__link{
    cursor:pointer;
    transition:0.1s;
    text-decoration: none;
    color: var(--grey);
}
.item__link:hover{
    color:var(--dark-beige)
}
/* Header */

.head{
    width:100%;
    position: relative;
    height:46vw;
    background-image: url(../img/img6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    transition: 0.5s;
    display: -webkit-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.inner__head{
    width:100%;
    margin-top: auto;
    height:200px;
    margin-bottom: 100px;
}
.title{
    color: white;
    font-size: 50px;
    font-family:'Circular';
    padding-left: 80px;
    padding-right: 80px;
}
.discover__btn{
    margin-left:80px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.4s;
}
.discover__btn:hover{
    border: 2px solid white;
    color:white;
    background-color: transparent;
}

@media(max-width:1000px){
    .head{
        height: 100vh;
        background-image: url('../img/img61.jpg');
    }
}

@media(max-width:445px){
    .title{
        font-size:9.2vw;
        margin-left: auto;
    }
    .discover__btn{
        margin-left: auto;
    }
    .inner__head{
        text-align: center;
    }
}

/* Identity */

.identity__div{
    width:100%;
    padding-bottom: 70px;
}
.identity__txt{
    text-align: center;
}
.identity__h1{
    padding: 50px 80px 0 80px;
    text-align: center;
}
.identity__p{
    padding: 0px 80px 50px 80px;
    width: 80%;
    max-width: 1140px;
    text-align: center;
    margin: auto;
}
.identity__btn{
    margin: 0px 0px 60px 0px;
    background:transparent;
    border-radius: 0px;
    border-color: black;
    border: 2px solid black;
    transition: 0.4s;
}
.identity__btn:hover{
    border: 2px solid white;
    color:white;
    background-color: var(--grey);
}
@media(max-width:800px){
    .identity__h1{
        font-size:20px;
    }
}
/* Identity / Products */

.identity__prods{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.prod__inner{
    padding: 0px 50px;
}
.prod__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.watch__img{
    width: 300px;
    transition:0.3s
}
.watch__img:hover{
    transform: scale(1.1); 
}
.prod__name{
    text-align: center;
}
.prod__name__txt{
    font-size: large;
    font-family: 'Circular';
    letter-spacing: 3px;
}
@media(max-width:790px){
    .identity__p{
        padding:30px 0px 70px 0px;
    }
}
@media(max-width:1220px){
    .watch__img{
        width:20vw
    }
}
@media(max-width:1000px){
    .watch__img{
        width:60vw;
    }
}
/* Boutiques */
.bout__outer{
    width:100%;
}
.bout__inner{
    padding:6.5vw;
}
.bout__div{
    display:flex;
}
.bout__desc__d{
    width:50%;
}
.bout__txt{
    padding-top: 210px;
}
.bout__desc{
    font-size:30px;
}
.bout__btn{
    border-color: black;
    border: 2px solid black;
    transition: 0.4s;
    background: transparent;
    margin-bottom:70px;
}
.bout__btn:hover{
    border: 2px solid white;
    color:white;
    background-color: var(--grey);
}
.bout__img__d{
    width:50%;
    text-align: center;
}
.bout__img{
    width:600px;
}

/* Contribution */
.cont__outer{
    width:100%;
}
.cont__inner{
    padding:6.5vw;
}
.cont__div{
    display:flex;
    flex-direction: row-reverse;
}
.cont__desc__d{
    width:50%;
}
.cont__desc{
    font-size: 30px;
}
.cont__img__d{
    width:50%;
    text-align: center;
}
.cont__img{
    width:600px;
    text-align: center;
}
.cont__txt{
    padding-top: 210px;
}
.cont__btn{
    border-color: black;
    border: 2px solid black;
    transition: 0.4s;
    background: transparent;
    margin-bottom: 70px;
}
.cont__btn:hover{
    border: 2px solid white;
    color:white;
    background-color: var(--grey);
}
/* Contribution & BOutiques */
@media(max-width:1470px){
    .bout__img{
        width:450px;
    }
    .bout__txt{
        padding-top: 160px;
    }
    .cont__img{
        width:450px;
    }
    .cont__txt{
        padding-top: 160px;
    }
}
@media(max-width:1050px){
    .bout_img{
        width:300px;
    }
    .cont_img{
        width:300px;
    }
}
@media(max-width:1000px){
    .bout__txt{
        padding-top: 0px;
    }
    .bout__desc__d{
        text-align: center;
    }
    .bout__div{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .bout__img__d{
        width:70%;
    }
    .bout__img{
        width:60vw;
    }
    .cont__txt{
        padding-top: 0px;
    }
    .cont__desc__d{
        text-align: center;
    }
    .cont__div{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .cont__img__d{
        width:70%;
    }
    .cont__img{
        width:60vw;
    }
}
@media(max-width:520px){
    .bout__txt{
        font-size: 20px;
        padding-top:60px;
    }
    .bout__desc{
        font-size: 20px;
    }
    .bout__inner{
        padding: 0px;
    }
    .bout__btn{
        width: 160px;
    }
    .cont__txt{
        font-size: 20px;
        padding-top: 0px;
    }
    .cont__desc{
        font-size: 20px;
    }
    .cont__inner{
        padding: 0px;
    }
    .cont__btn{
        width: 160px;
    }
}

/* Features */

.features__outer{
    width:100%;
}
.features__inner{
    text-align: center;
}
.features__img{
    width:40%;
}
.hotspot{
    width: 15px;
    height: 15px;
    background: #ddd6c6;
    border-radius: 20px;
    position:absolute;
    animation: spline 1s infinite;
    cursor: pointer;
}
.hotspot::before{
    content: attr(text);
    width:max-content;
    position: absolute;
    background-color: var(--grey);
    color:white;
    left:50%;
    transform: translateX(-50%);
    top:30px;
    padding: 8px 20px;
    font-size:14px;
    display: none;
}
.hotspot:hover::before{
    display: block;
}
.strap{
    margin-top:-12%;
    margin-left:60%;
}
.hands{
    margin-top:-25%;
    margin-left:51.5%;
}
.crystal{
    margin-top:-20%;
    margin-left:50%;
}
.case{
    margin-top:-23%;
    margin-left:60%;
}
.f__desc{
    padding:0px 300px;
}
.features__desc4, .features__desc2, .features__desc3{
    display:none;
}
@media(max-width:800px){
    .f__desc{
        padding:100px;
    }
}
@media(max-width:500px){
    .f__desc{
        padding:20px;
    }
    .features__img{
        width:70%;
        padding-top: 70px;
    }
    .strap{
        margin-top:-27%;
        margin-left:66%;
    }
    .case{
        margin-top: -42%;
        margin-left: 66%;
    }
    .hands{
        margin-top: -44.5%;
        margin-left: 51.5%;
    }
    .crystal{
        margin-top: -36%;
        margin-left: 45%;
    }
}
@media(max-width:520px){
    .feat__title{
        font-size:20px;
    }
}

/* Footer */
.footer__outer{
    background: var(--grey);
    margin-top: 60px;
}
.footer__inner{
	max-width: 1170px;
	margin:auto;
}
.footer__div{
	display: flex;
	flex-wrap: wrap;
}
.footer__col{
   width: 25%;
   padding: 0 15px;
   margin-bottom: 30px;
}
.footer__title{
    font-size:20px;
    color:white;
    padding-top:30px;
}
.footer__txt{
    color:white;
    font-size:20px;
    padding-top:30px;
}
.footer__col ul li:not(:last-child){
	margin-bottom: 20px;
}
.footer__col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--beige);
	text-decoration: none;
	font-weight: 300;
	transition: all 0.3s ease;
}
.footer__col ul li a:hover{
	color: var(--dark-beige);
	padding-left: 8px;
}
.footer__col .footer__links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--dark-beige);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.footer__col .footer__links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer__col{
    width: 50%;
}
}
@media(max-width: 574px){
  .footer__col{
    width: 100%;
}
}


/* Keyframes */

@keyframes spline{
    from{
        box-shadow: 0 0 0 0 #d8d5ce#ddd6c6;
    }
    to{
        box-shadow: 0 0 0 10px #d8d5ce;
    }
}
